<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
  </head>

  <body>

    <h2>Edit Robot</h2>

    <table>

      <form action="/robots/<%= @robot.id %>" method="post">
        <input type="hidden" name="_method" value="PUT" />

        <tr>
          <td>
            <label>Name:</label>
          </td>
          <td>
            <input type='text' name='robot[name]' value="<%= @robot.name %>"/>
          </td>
        </tr>

        <tr>
          <td>
            <label>City:</label>
          </td>
          <td>
            <input type='text' name='robot[city]' value="<%= @robot.city %>"/>
          </td>
        </tr>

        <tr>
          <td>
            <label>State:</label>
          </td>
          <td>
            <select name="robot[state]" >
              <% @states.each do |state| %>
                <% if state == @robot.state %>
                  <option value="<%= state %>" selected><%= state %></option>
                <% else %>
                  <option value="<%= state %>" ><%= state %></option>
                <% end %>
              <% end %>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label>Department:</label>
          </td>
          <td>
            <input type='text' name='robot[department]' value="<%= @robot.department %>"/>
          </td>
        </tr>

        <tr>
          <td>
              <input type="submit" name="Submit">
            </form>
          </td>
          <td>
            <a href="/robots" >
              <button>Cancel</button>
            </a>
          </td>
        </tr>

    </table>

  </body>

</html>