<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/stylesheet.css" type="text/css">
	</head>

	<body>
		<h2><%= @robot.name %></h2>

		<table class="display-table">
		  <tr>
		    <th>City</th>
		  	<td><%= @robot.city %></td>
		  </tr>
		  <tr>
		    <th>State</th>
		  	<td><%= @robot.state %></td>
		  </tr>
		  <tr>
		    <th>Department</th>
		  	<td><%= @robot.department %></td>
		  </tr>
		</table>

		<a href="/robots/<%= @robot.id %>/edit"><button>Edit</button></a>
		<form action="/robots/<%= @robot.id %>" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" name="Details" value="Delete" class="button">
		</form>
		<a href="/robots"><button>Return to Robot List</button></a>

	</body>

</html>